
body {
    display:flex;
    flex-direction:column;
    margin:0;
}


.hero {
    
    background-color:rgb(2, 20, 36);
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
}

.nav-bar {
    background-color: rgb(2, 20, 36);
    display:flex;  
    box-sizing: border-box;
    color:rgb(227, 230, 232);    
}

.header-logo {
    flex-basis:50%;


}

.header-logo h3 {
    margin-left:100px;
}

.menu {
    flex-basis:50%;
    
  
}   

.menu ul {
    display:flex;
    gap:24px;
}

.menu li {
    color:rgb(187, 187, 187);
}




ul {
    list-style-type: none;
    color: inherit;
}


.hero-content {
    display:flex;
    background-color:rgb(2, 20, 36);
    color:antiquewhite;
    box-sizing:border-box;
    height:250px;
}

.hero-text {
    box-sizing:border-box;
    flex-grow:0;
    flex-basis:50%;
    padding-top: 24px;
    padding-left:100px;
    padding-right: 24px;
    overflow:hidden;
}

.hero-text h1,p {
    margin:3px;
}

.hero .button {
    margin: 8px;
}

button {
    box-sizing:border-box;
    color:aliceblue;
    background-color:blue;
    height:24px;
    width:92px;
    font-size:14px;
    box-shadow: none;
    border:0px;
    border-radius:8px;
}
.placeholder-img {
    display:flex;
    box-sizing:border-box;
    color:antiquewhite;
    flex-shrink:0;
    flex-basis:50%;
    align-items:flex-start;
    justify-content: flex-start;
}

.ph-img {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:8px;
    margin-top:32px;      
    height:140px;
    background-color:gray;
    flex-shrink:1;
    flex-basis:350px;
}



/* ------- INFO SECTION -------*/


.info {
    display:flex;
    flex-direction:column;
}

.info .header {
    display:flex;
justify-content: center;   
}

.info-content {
    height:250px;
    display:flex;
}

.info-subcontent{ 
    display:flex;
    flex-basis:100%;   
    flex-shrink:1;
    justify-content: center;
}

.info-card-container {
    display:flex;
    gap:70px;
    color:rgb(72, 71, 71);
    font-size:10px;
}

.info-card {
    /* wrap default */
    box-sizing:border-box;
    flex-basis:100px;   
}

.info-card p {
    text-align:center;
}
.info-card .placeholder-img {
    box-sizing:border-box;  
    border:solid rgb(5, 18, 168);
    height:100px;
    flex-basis:100px;
    border-radius: 10px;
}


/* --------- QUOTE SECTION --------*/


.quote {
    display:flex;
    background-color:rgb(220, 220, 220);
    flex-basis:auto;
    height:250px;
    justify-content:center;
    align-items:center; 
}

.quote .content {
    flex-basis:550px;
    flex-shrink:1;
    flex-grow:0;
    height:100px;
    align-items:center;
    text-align:left;
    line-height: 25px;
}

.quote p:first-child{
    font-size:24px;
    color:rgb(80, 79, 79);      
}

.quote p:last-child{
    text-align:right;
}

/* --------- ACCOUNT SECTION --------*/


.account {
    display:flex;
    height:200px;
    justify-content:center;
    align-items:center;
}

.account-content {
    box-sizing:border-box;
    flex-basis:804px;
    flex-shrink:1;
    height: 125px;
    border-radius: 10px;
    background-color:#607dff;
    display:flex;
    overflow:hidden;

}

.account-content .text {
   flex-basis:65%;
   flex-shrink:1;
   padding-left:89px;
   justify-content:center;
   display:flex;
   flex-direction:column;
   color:antiquewhite;
}
.account-content .text p {
    margin:0px;
    font-size: 16px;
    color:rgb(222, 215, 206);
}

.account-content .text p:first-child {
    font-size:20px;
    color:antiquewhite;
}

.sign-up-button {
    flex-basis:auto;
    justify-content:center;
    align-items:center;
    display:flex;
}

.sign-up-button .signup {
    background-color: #607dff;
    color: antiquewhite;
    border:solid antiquewhite;
    border-width: 2px;
    font-size:12px;
}

footer {
    display:flex;
    background-color:rgb(2, 20, 36);  
    height:100px;
    color:antiquewhite;
    font-size:12px;
    justify-content:center;
    align-items:center;
}

